@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hawthorne_vintage';
  src: url('fonts/hawthorne_vintage-webfont.woff2') format('woff2'),
       url('fonts/hawthorne_vintage-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Normalize and Reset CSS Start */
* {
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize and Reset CSS End */

:root {
  --primary-color: #121212;
  --secondary-color: #1f1d1d;
  --tertiary-color: #2b2a2a;
  --shadow-color: #242424;
  --accent-color: #3a1500;
  --text-color: #eaeaea;
}

::selection {
  background-color: var(--text-color);
  color: var(--primary-color);
}

body {
  font-family: "robotoregular";
  background: linear-gradient(#3a1500, #121212);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Header Styling Start */

header {
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: rgba(18, 18, 18, 0.9);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 70px;
  aspect-ratio: 1;
}

.logo-container p {
  font-family: "hawthorne_vintage";
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.user-container img {
  width: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid var(--secondary-color);
  filter: grayscale(100%);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.user-container img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

/* Header Styling End */


/* Information Section Styling Start */

.information {
  width: 325px;
  background-color: rgba(31, 29, 29, 0.7);
  border-radius: 10px;
  position: absolute;
  top: 90px;
  right: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h1 {
  font-size: 1.9rem;
  font-weight: bold;
  margin-top: 20px;
}

.stats-container {
  width: 80%;
  box-sizing: border-box;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  margin: 20px 0px 0px;
  padding: 10px;
  font-weight: 600;
  line-height: 30px;
}

.total-book,
.total-completed-book,
.total-pages,
.total-completed-pages {
  display: flex;
  justify-content: space-between;
}

.my-container {
  width: 200px;
  height: 90px;

  display: flex;
  align-items: center;
}

.my-container img {
  transition: all 200ms ease-in-out;
}

.my-container img:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

/* Information Section Styling End */

/* Main Styling Start */

main {
  box-sizing: border-box;
  margin: 45px 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.add-btn {
  width: 80px;
  aspect-ratio: 1;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 10px #200000;
  border-radius: 10px;
  transition: all 1.5s ease-in-out;
  position: fixed;
  bottom: 7%;
  right: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
}

.add-btn:hover {
  background-color: #4b1b00;
  border-radius: 50%;
  transform: scale(0.8);
}

.plus {
  font-size: 3.3rem;
  font-weight: bold;
  transform: scale(0.8);
  transition: transform 1.5s ease-in-out;
}

.add-btn:hover .plus {
  transform: rotate(90deg) translateY(-3px) scale(1);
}

dialog {
  width: 600px;
  height: 91.94vh;
  background-color: rgba(44, 44, 44, 0.8);
  color: var(--text-color);
  box-shadow: 0 0 10px #3a1500, 0 0 20PX #4b1b00;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  animation: fade-out 200ms ease-in;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog[open] {
  animation: fade-in 500ms ease-in;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 400ms ease-in forwards;
}

.dialog-title {
  height: 70px;
  background-color: #943600;
  border-bottom: 5px solid rgba(18, 18, 18, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container,
.author-container,
.total-pages-container,
.completed-pages-container {
  position: relative;
  height: 12.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  background-color: transparent;
  color: var(--text-color);
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid rgba(41, 20, 2, 0.9);
  outline: none;
}

.input::placeholder {
  visibility: hidden;
}

.input ~ label {
  font-size: 1.3rem;
  color: rgba(240, 240, 240, 0.7);
  position: absolute;
  top: 30%;
  left: 11.6%;
  transition: all 1s ease-in-out;
}

.input:focus ~ label,
.input:focus:not(:placeholder-shown) ~ label,
.input:valid ~ label {
  top: -5px;
  color: #cf4c00;
}

.dialog-btns {
  margin-top: 13vh;

  display: flex;
  justify-content: center;
}

.dialog-btns button {
  width: 50%;
  height: 11vh;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn {
  background-color: rgba(202, 1, 1, 0.8);
  border: none;
  border-bottom-left-radius: 20px;
}

.confirm-btn {
  background-color: rgba(0, 181, 8, 0.8);
  border: none;
  border-bottom-right-radius: 20px;
}

/* Main Styling End */

/* JS Created Element Styling Start */

.book-container {
  box-sizing: border-box;
  width: 260px;
  height: 360px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 10px #200000;
  padding: 10px;
  border-radius: 5px;
  animation: appear-in 700ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.remove-btn {
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.5rem;
  border: none;
  margin: 0 0 0 90%;
  transition: all 400ms ease-in-out;
}

.remove-btn:hover {
  color: #cf4c00;
  transform: scale(1.1);
}

.book-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  overflow-wrap: anywhere;
}

.book-pages {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  overflow-wrap: anywhere;
}

.book-author {
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  overflow-wrap: anywhere;
}

.read-btn,
.edit-btn {
  width: 100%;
  height: 35px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  margin-bottom: 5px;
}

.not-read {
  background-color: rgba(175, 58, 58, 0.5);
  color: var(--text-color);
}

.reading {
  background-color: rgba(182, 168, 41, 0.5);
  color: var(--primary-color);
}

.already-read {
  background-color: rgba(59, 176, 63, 0.5);
  color: var(--text-color);
}

/* JS Created Element Styling End */

/* Media Queries Area */

@media (max-width: 640px) {
  .input ~ label {
    font-size: 0.9rem;
  }
}

/* Media Queries Area */

/* Keyframes Area */

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 50%);
  }
}

@keyframes appear-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Keyframes Area */