@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hawthorne_vintage';
  src: url('fonts/hawthorne_vintage-webfont.woff2') format('woff2'),
       url('fonts/hawthorne_vintage-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Normalize and Reset CSS Start */
* {
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize and Reset CSS End */

:root {
  --primary-color: #121212;
  --secondary-color: #1f1d1d;
  --tertiary-color: #2b2a2a;
  --shadow-color: #242424;
  --accent-color: #3a1500;
  --text-color: #eaeaea;
}

::selection {
  background-color: var(--text-color);
  color: var(--primary-color);
}

body {
  font-family: "robotoregular";
  background: linear-gradient(#3a1500, #121212);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Header Styling Start */

header {
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 70px;
  aspect-ratio: 1;
}

.logo-container p {
  font-family: "hawthorne_vintage";
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.user-container img {
  width: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid var(--secondary-color);
  filter: grayscale(100%);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.user-container img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

/* Header Styling End */


/* Information Section Styling Start */

.information {
  width: 325px;
  background-color: rgba(31, 29, 29, 0.7);
  border-radius: 10px;
  position: absolute;
  top: 90px;
  right: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h1 {
  font-size: 1.9rem;
  font-weight: bold;
  margin-top: 20px;
}

.stats-container {
  width: 80%;
  box-sizing: border-box;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  margin: 20px 0px 0px;
  padding: 10px;
  font-weight: 600;
  line-height: 30px;
}

.total-book,
.total-completed-book,
.total-pages,
.total-completed-pages {
  display: flex;
  justify-content: space-between;
}

.author-container {
  width: 200px;
  height: 90px;

  display: flex;
  align-items: center;
}

.author-container img {
  transition: all 200ms ease-in-out;
}

.author-container img:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

/* Information Section Styling End */

/* Main Styling Start */

/* Main Styling End */